body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

h2 {
    color: #333;
}

section {
    margin: 50px 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

